<!DOCTYPE html>
<html>
<head>
  <title>Ransack global search</title>
  <%= stylesheet_link_tag    "ransack_global_search/application", media: "all" %>
  <%= javascript_include_tag "ransack_global_search/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
